{% extends "layout.html" %} {% block title %}Alterar Senha de Usuário{% endblock %} {% block head %} {{ parent() }} {% endblock %} {% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="card">
                <div class="card-header">
                    <strong>Alterar Senha de Usuário</strong>
                </div>
                <div class="card-body">
                    <!-- Formulário vai aqui -->
                    <form action="{{ path_for('password.change') }}" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="password_old">Senha Atual</label>
                            <input type="password" class="form-control {{ errors.password_old ? ' is-invalid' : ''}}" id="password_old" name="password_old" placeholder="***********">
                            {% if errors.password_old %}
                                <div class="invalid-feedback">{{ errors.password_old | first }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">Nova Senha</label>
                            <input type="password" class="form-control {{ errors.password ? ' is-invalid' : ''}}" id="password" name="password" placeholder="***********">
                            {% if errors.password %}
                                <div class="invalid-feedback">{{ errors.password | first }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-dark">Alterar Senha</button>
                        
                        {{ csrf.field | raw }}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}