{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
{{ parent() }} {# Mantém o conteúdo do bloco "content" de layout.html #}
<h1>Home - Após Registro ou Login</h1>
<p>
    Você chegou aqui após fazer o registro ou o login na Aplicação!
</p>
<p>
    {% if auth.check %} Usuário {{ auth.user.name }} está autenticado! {% else %} Usuário não está autenticado {% endif %}
</p>
<p>
    <a href="{{ path_for('auth.signout') }}">Sair</a> ||  <a href="{{ path_for('auth.signin') }}">Login</a>
</p>
{% endblock %}