{% if flash.getMessage('info') %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Informação!</strong> {{ flash.getMessage('info') | first }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if flash.getMessage('danger') %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Atenção!</strong> {{ flash.getMessage('danger') | first }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if flash.getMessage('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Tudo certo!</strong> {{ flash.getMessage('success') | first }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}