{% extends "layout.html" %}
{% block title %}Página de Testes{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}
{{ parent() }} {# Mantém o conteúdo do bloco "content" de layout.html #}
<h1>Página de Testes</h1>
<p class="important">
    Conteúdo da página de testes com marcação CSS!
</p>
<p>
    Parágrafo sem marcação CSS, apenas para teste de <span class="important">hotfix</span>!
</p>
{% endblock %}