{% extends "layout.html" %} {% block title %}Login de Usuário{% endblock %} {% block head %} {{ parent() }} {% endblock %} {% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="card">
                <div class="card-header">
                    <strong>Login de Usuário</strong>
                </div>
                <div class="card-body">
                    <!-- Formulário vai aqui -->
                    <form action="{{ path_for('auth.signin') }}" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control {{ errors.email ? ' is-invalid' : ''}}" id="email" name="email" placeholder="exemplo@email.com.br" value="{{ old.email }}">
                            {% if errors.email %}
                                <div class="invalid-feedback">{{ errors.email | first }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control {{ errors.password ? ' is-invalid' : ''}}" id="password" name="password" placeholder="***********" value="{{ old.password }}">
                            {% if errors.password %}
                                <div class="invalid-feedback">{{ errors.password | first }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-dark">Entrar</button>
                        
                        {{ csrf.field | raw }}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}